<link rel="stylesheet" href="/css/style.css" />
<div class="post-page">
  <div class="one-post">
    <h3>{{post.name}}</h3>
    <p>{{{post.description}}}</p>
    <h4 class="comment-sec">Comments:</h4>
    {{#each comments as |comment|}}
      <p>{{{comment.description}}}</p>
      <p>- {{{comment.username}}}</p>
    {{/each}}
  </div>
  <div>
    <div class="comments">
      <label class="comment" for="comment">Add Comment:</label>
      <textarea
        type="text-box"
        class="comment-description"
        name="comment-desc"
      ></textarea>
    </div>
    <div>
      <button
        type="submit"
        data-id="{{post.id}}"
        class="comment-submit"
      >Submit</button>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/post.js"></script>